.Navigation{
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Navigation-homepage-link{
    width: 100px;
}

.Navigation-data-links{
    width: 250px;
}
.active{
    font-weight: bold;
    color: black;
}

.Navigation-homepage-link{
    display: inline;
    margin-left:0px;
    margin-right:500px;
}

.Navigation-data-links{
    display: inline;
    margin-right:0px;
}

.Navigation a{
    margin:20px;
    text-decoration: none;
    font-size: 20px;
    
}