.Navigation{
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}

.Navigation-homepage-link{
    width: 100px;
}

.Navigation-data-links{
    margin-right: 25px;
    justify-content: flex-end;
}
.active{
    font-weight: bold;
    color: black;
}

.Navigation-homepage-link{
    display: inline;
    margin-left:0px;
}



.Navigation a{
    margin:10px;
    text-decoration: none;
    font-size: 20px;
}

.Navigation-data-links-logout{
    max-width: 10px;
}